# Compiled class files
*.class

# Log files
*.log
logs/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
#  distributionManagement.sourceUrls.txt

# Eclipse
.project
.classpath
.settings/
# .settings
bin/
tmp/
.metadata
# .plugins/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
# .idea_modules/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# If you have local configuration files that shouldn't be committed
# config.local.properties